<%- partial('partials/header') %>

<div class="container">
<div id="browse-section" class="row">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-xs-12">
        <h1 class="text-color-1">Projects for the future</h1>
        <br />
      </div>
      <div class="col-md-2 mobile-off pull-right">
        <a class="btn btn-trans-blk margin-tb btn-lg" href="/projects/add" role="button">Start a Project</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline" role="form" action="/projects" method="get">
          <div class="col-xs-12">
            <div class="form-group">
              <input type="text" class="search-input input-2" placeholder="Looking for something?" name="keyword">
              <button type="submit" class="hidden btn btn-1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
  <br/>
  <% if (projects.length !== 0) { %>
    <% for(var i in projects) { %>
      <% if( (i === 0) || ((i+1) % 3) === 0){ %>
      <div class="row">
      <% } %>
    
      <div class="col-lg-4">
        <div class="top-cat center">
          <a href="/projects?category=<%= projects[i].category.id %>"><p><%= projects[i].category.name %></p></a>
        </div>
        <div class="thumbnail-frame" data-id="<%= projects[i].id %>">
          <center>
            <a href="/projects/<%= projects[i].id %>"><img class="full-image" src="<%= projects[i].image_path %>" alt="<%= projects[i].name %>"></a>
          
            <div class="thumbnail-content">
              <a class="nostyle" href="/projects/<%= projects[i].id %>">
                <h1 class="text-color-1"><%= projects[i].name %></h1>
                <h4 class="text-color-5"><%= projects[i].description %></h4>
              </a>
            </div>
            <div class="highlight-line">
              <div class="row center">
                <div class="col-md-12 col-xs-12">
                  <p class="raised-text">₱<%= projects[i].total %> RAISED <span class="progress-text">(<%= projects[i].progress %>%)<span></p>
                </div>
              </div>
            </div>
            <div class="thumbnail-content">
              <div class="row">
              </div>
              <div class="row center">
                <div class="col-md-12 col-xs-12">
                  <p class="days-left-text text-color-5"><%= projects[i].days_left %> DAYS TO GO</p>
                </div>
              </div>
            </div>
          </center>
        </div>
      </div>
    
      <% if( ((i+1) % 3) === 0 ){ %>
      </div>
      <% } %>
    <% } %>
  <% } else { %>
    <div class="row">
      <center>
        <h2 class="text-color-1">Found nothing :(</h2>
        <br>
      </center>
    </div>
  <% } %>
  </div>
</div>
<div class="row">
  <br />
</div>
</div>

<%- partial('partials/footer') %>
