<%- partial('partials/header') %>

<div class="jumbotron parallax-window" data-parallax="scroll" data-image-src="/images/bg.jpg">
  <div class="container center">
    <h1>Let's fund the future together</h1>
    <p>Giving back doesn't have to cost the earth. We're focused on making a better, brighter tomorrow <strong>for all of us</strong>.</p>
    <%if (req.user) { %>
      <a href="/projects"><button class="btn btn-trans btn-lg" id="start-btn">Start today</button></a>
    <% } else { %>
      <a href="/auth/register"><button class="btn btn-trans btn-lg" id="start-btn">Start today</button></a>
    <% } %>
  </div>
</div>

<div id="section-1" class="row">
  <div class="container">
    <h1 class="text-color-1">Become part of the solution to climate change</h1>
    <h3 class="text-color-g">Fund the Future is a sustainable gamified crowdfunding platform that helps green projects become a reality.</h3>
    <br>
    <a href="/projects"><button class="btn btn-1 btn-lg">Sponsor a project and be a climate hero</button></a>
    <br>
    <br>
    <br>
  </div>
</div>

<div id="section-2"  class="row">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-xs-7">
        <h1 class="text-color-1">Latest projects</h1>
      </div>
      <div class="col-md-1 col-xs-5">
        <a class="btn btn-1 margin-tb btn-lg margin-l" href="/projects" role="button">View all</a>
      </div>
      <div class="col-md-2 mobile-off">
        <a class="btn btn-trans-blk margin-tb btn-lg" href="/projects/add" role="button">Start a Project</a>
      </div>
    </div>
  </div>
  <div class="container">
  <br/>
  <% if (projects.length !== 0) { %>
    <% for(var i in projects) { %>
      <% if( ((i+1) % 3) === 1){ %>
      <div class="row">
      <% } %>
    
      <div class="col-lg-4">
        <div class="thumbnail-frame">
          <center>
            <img class="circle-image" src="<%= projects[i].image_path %>" alt="<%= projects[i].name %>" width="180" height="180">
          
            <h3 class="text-bold"><%= projects[i].name %></h3>
            <div class="text-left">
              <p class="text-md text-color-2"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> <%= projects[i].category.name %></p>
            </div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= projects[i].progress %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= projects[i].progress %>%;">
                  <%= projects[i].progress %>%
                </div>
              </div>
            <div class="row">
              <div class="col-md-6 col-xs-6 pull-left">
                <p class="text-color-5 thumbnail-text">₱<%= projects[i].total %></p>
                <p>raised</p>
              </div>
              <div class="col-md-6 col-xs-6 pull-right">
                <p class="text-color-5 thumbnail-text"><%= projects[i].days_left %></p>
                <p>days to go</p>
              </div>
            </div>
            <br>
            <p><a class="btn btn-1" href="/projects/<%= projects[i].id %>" role="button">SUPPORT THIS PROJECT</a></p>
          </center>
        </div>
      </div>
    
      <% if( ((i+1) % 3) === 0 || projects.length < 3){ %>
      </div>
      <% } %>
    <% } %>
  <% } else { %>
    <div class="row">
      <center>
        <h4 class="text-color-1">Oops, no available projects yet.</h4>
        <a class="btn btn-1" type="button" href="/projects/add">START A PROJECT</a><br>
        <br>
      </center>
    </div>
  <% } %>
</div>
</div>

<%- partial('partials/footer') %>
