<%- partial('partials/header') %>

<div class="container page">
  <div class="row">
    <div class="col-md-8">
      <h1 class="text-color-1 px-name"><%= project.name %></h1>
      <p>by <a href="/users/<%= project.owner.id %>"><span class="text-color-1"><%= project.owner.first_name %> <%= project.owner.last_name %></span></a><p>
    </div>
  </div>
</div>
<br />
<div id="supportModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-style" role="form" action="/projects/<%= project.id %>/fund" method="POST">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">Support <%= project.name %></h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input type="number" name="amount" class="amount-input input-1 margin-tb-sm" placeholder="Enter any amount in PHP" />
          </div> 
        </div>
        <div class="modal-footer">
          <button class="btn btn-lg btn-1 btn-block" type="submit">Continue with PayPal</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="image-container">
        <img class="details-image" src="<%= project.image_path %>" alt="<%= project.name %>">
      </div>
      <br>
      <div class="content-frame">
        <h2 class="text-color-b p-desc"><%= project.description %></h2>
        <p class="cat-c text-color-1"><a class="cat" href="/projects?category=<% project.category.id %>"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp; 
          <%= project.category.name %></a></p>
        <hr>
        <p class="text-color-lg p-content"><%= project.content %></p>
      </div>
      <hr>
    </div>
    <div class="col-md-4">
      <div class="center-mobile">
        <h1 class="text-color-b no-margin-b"><%= project.funds.length %></h1>
        <p class="text-lg text-color-g">supporters</p>
        <h1 class="text-color-b no-margin-b">₱<%= project.total %></h1>
        <p class="text-lg text-color-g">total amount raised of ₱<%= project.goal %> goal</p>
        <h1 class="text-color-b no-margin-b"><%= project.days_left %></h1>
        <p class="text-lg text-color-g">days to go</p>
        <br>
        <p><a class="btn btn-1 btn-lg" data-toggle="modal" data-target="#supportModal" role="button">SUPPORT THIS PROJECT</a></p>
      </div>
      <br>
      <h2 class="text-color-b">Rewards</h2>
      <% project.rewards.forEach(function(rewards) {%>
        <div class="content-frame">
          <h3 class="text-color-1">Pledge from ₱<%= rewards.start_amount %></h3>
          <hr>
          <p class="text-color-lg"><%= rewards.details %></p>
        </div>
        <br>
      <% }); %>
    </div>
  </div>
</div>

<%- partial('partials/footer') %>
